
<div *ngIf="partyPreferenceList">
    <h2><span>Party Preference List</span> {{partyPreferenceList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dd>
            <table class="table table-striped">
                <tr *ngFor="let partyPreference of partyPreferenceList.partyPreferences">
                    <td>
                    {{partyPreference.preferenceCode}}
                    </td>
                    <td>{{partyPreference.booleanPreferenceValue}}{{partyPreference.selectedPreferenceValue}}</td>
                    <td>
                        <button type="submit"
                            [routerLink]="['./party-preference-new', { outlets: { popup: [partyPreferenceList.id, 'edit', 'OPTOUT'] } } ]"
                            replaceUrl="false"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">dot level</span>
                        </button>
                        <button type="submit"
                            [routerLink]="['../party-preference-new', { outlets: { popup: [partyPreferenceList.id, 'edit', 'OPTOUT'] } } ]"
                            replaceUrl="false"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Up one level</span>
                        </button>
                        <button type="submit"
                            [routerLink]="['/party-preference-new', { outlets: { popup: [partyPreferenceList.id, 'edit', 'OPTOUT'] } } ]"
                            replaceUrl="false"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Root level</span>
                        </button>
                        <button type="submit"
                            [routerLink]="['party-preference-new', { outlets: { popup: [partyPreferenceList.id, 'edit', 'OPTOUT'] } } ]"
                            replaceUrl="false"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">rewrite</span>
                        </button>
                    </td>
                </tr>
            </table>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'party-preference-list/'+ partyPreferenceList.id + '/edit'} }]"
            replaceUrl="false"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
