
<div *ngIf="partyPreference">
    <h2><span>Party Preference</span> {{partyPreference.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Preference Master Id</span></dt>
        <dd>
            <span>{{partyPreference.preferenceMasterId}}</span>
        </dd>
        <dt><span>Preference Code</span></dt>
        <dd>
            <span>{{partyPreference.preferenceCode}}</span>
        </dd>
        <dt><span>Effective From Date</span></dt>
        <dd>
            <span>{{partyPreference.effectiveFromDate | date:'medium'}}</span>
        </dd>
        <dt><span>Effective To Date</span></dt>
        <dd>
            <span>{{partyPreference.effectiveToDate | date:'medium'}}</span>
        </dd>
        <dt><span>Boolean Preference Value</span></dt>
        <dd>
            <span>{{partyPreference.booleanPreferenceValue}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'party-preference/'+ partyPreference.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
