<div>
    <h2>
        <span>Party Preferences</span>
        <button class="btn btn-primary float-right create-party-preference" [routerLink]="['/', { outlets: { popup: ['party-preference-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Party Preference
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="partyPreferences">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="preferenceMasterId"><span>Preference Master Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="preferenceCode"><span>Preference Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="effectiveFromDate"><span>Effective From Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="effectiveToDate"><span>Effective To Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="booleanPreferenceValue"><span>Boolean Preference Value</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partyPreference of partyPreferences ;trackBy: trackId">
                <td><a [routerLink]="['../party-preference', partyPreference.id ]">{{partyPreference.id}}</a></td>
                <td>{{partyPreference.preferenceMasterId}}</td>
                <td>{{partyPreference.preferenceCode}}</td>
                <td>{{partyPreference.effectiveFromDate | date:'medium'}}</td>
                <td>{{partyPreference.effectiveToDate | date:'medium'}}</td>
                <td>{{partyPreference.booleanPreferenceValue}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../party-preference', partyPreference.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'party-preference/'+ partyPreference.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'party-preference/'+ partyPreference.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="partyPreferences && partyPreferences.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
