<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPartyPreferenceLabel">Create or edit a Party Preference</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!partyPreference.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="partyPreference.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_preferenceCode">Preference Code</label>
            <input type="text" class="form-control" name="preferenceCode" id="field_preferenceCode"
                [(ngModel)]="partyPreference.preferenceCode" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_effectiveFromDate">Effective From Date</label>
            <div class="d-flex">
                <input id="field_effectiveFromDate" type="datetime-local" class="form-control" name="effectiveFromDate" [(ngModel)]="partyPreference.effectiveFromDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_effectiveToDate">Effective To Date</label>
            <div class="d-flex">
                <input id="field_effectiveToDate" type="datetime-local" class="form-control" name="effectiveToDate" [(ngModel)]="partyPreference.effectiveToDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_booleanPreferenceValue">Boolean Preference Value</label>
            <input type="checkbox" class="form-control" name="booleanPreferenceValue" id="field_booleanPreferenceValue"
                [(ngModel)]="partyPreference.booleanPreferenceValue"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
